<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.cases.CasesMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.Cases">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="abstracts" property="abstracts" jdbcType="VARCHAR"/>
        <result column="docId" property="docId" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="authorId" property="authorId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
      mid,title,content,abstracts,docId,createTime,author,authorId
    </sql>
    <delete id="delete"/>
    <insert id="insert"/>
    <update id="update"/>
    <select id="queryByPage" resultMap="BaseResultMap">
      select *  from tkb_case
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
      select * from tkb_case
    </select>
    <select id="queryById" resultMap="BaseResultMap">
        select * from tkb_case where mid = #{mid,jdbcType=DECIMAL}
    </select>
    <select id="queryByDocId" resultMap="BaseResultMap">
        SELECT * FROM tkb_case WHERE docId = #{docId , jdbcType = BIGINT}
    </select>
    <select id="queryByKey" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        tkb_case
        <where>
            <if test="cases.title != null and cases.title != ''">
                title LIKE "%"#{cases.title,jdbcType  = VARCHAR}"%"
            </if>
            <if test="cases.content != null and cases.content != ''">
                or content LIKE "%"#{cases.content,jdbcType = LONGVARCHAR}"%"
            </if>
        </where>
        <if test="page.sort !=null and page.sort !=''">
            <![CDATA[ order by ${page.sort} ${page.order} ]]>
        </if>
        LIMIT #{page.start},#{page.pageSize}
    </select>
</mapper>