<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.warehouse.WarehouseMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.Warehouse">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">

    </sql>

    <delete id="delete"/>
    <delete id="deleteWarehouse">
        delete from tkb_toolwarehouse_toolinformation where warehouseId = #{warehouseId,jdbcType=DECIMAL}
    </delete>

    <insert id="insert"/>
    <insert id="insertWarehouse">
        insert into tkb_toolwarehouse_toolinformation (warehouseId,infoId) values(#{warehouseId,jdbcType=DECIMAL},#{infoId,jdbcType=DECIMAL})
    </insert>

    <update id="update"/>

    <select id="select" resultMap="BaseResultMap"/>

    <select id="queryByPage" resultMap="BaseResultMap">
        SELECT * FROM tkb_toolwarehouse
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
        SELECT * FROM tkb_toolwarehouse
    </select>
    <select id="queryByName" resultMap="BaseResultMap">
         SELECT * FROM tkb_toolwarehouse where name= #{name ,jdbcType=VARCHAR}
    </select>
</mapper>