<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.doc.DocMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.Doc">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="author" property="author" jdbcType="BIGINT"/>
        <result column="categoryLevelCode" property="categoryLevelCode" jdbcType="VARCHAR"/>
        <result column="templateId" property="templateId" jdbcType="BIGINT"/>
        <result column="auditor" property="auditor" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="orgId" property="orgId" jdbcType="BIGINT"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="opinion" property="opinion" jdbcType="VARCHAR"/>
        <result column="docpic" property="docpic" jdbcType="VARCHAR"/>
        <result column="authorName" property="authorName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
      mid,title,summary,url,author,categoryLevelCode,templateId,auditor,status,createTime,opinion,docpic,authorName
    </sql>

    <select id="select" resultMap="BaseResultMap"/>

    <delete id="delete"/>

    <insert id="insert"/>

    <update id="update"/>

    <select id="queryByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        (
        SELECT
        DISTINCT
        <include refid="Base_Column_List"></include>
        FROM
        tkb_doc
        <where>
            <if test="bean.selectUser != null and bean.selectUser != ''">
                author = #{bean.selectUser , jdbcType = BIGINT}
                <if test="bean.orglevelCodes != null and bean.orglevelCodes.size() > 0">
                    OR mid IN (
                    SELECT DISTINCT
                    docId
                    FROM
                    tkb_doc_org
                    <where>
                        <foreach collection="bean.orglevelCodes" item="it" index="index" separator=" or ">
                            orgLevelCode LIKE #{it , jdbcType = VARCHAR}"%"
                        </foreach>
                    </where>
                    )
                    AND status != 0
                </if>
            </if>
        </where>
        ) AS result
        <where>
            <if test="bean.selectUser == null or bean.selectUser == '' ">
                status = 2
            </if>
            <if test="bean.categoryLevelCode != null and bean.categoryLevelCode != ''">
                AND categoryLevelCode like #{bean.categoryLevelCode,jdbcType = VARCHAR}"%"
            </if>
            <if test="bean.title != null and bean.title != ''">
                AND title LIKE "%"#{bean.title,jdbcType = VARCHAR}"%"
            </if>
            <if test="bean.authorName != null and bean.authorName != ''">
                AND authorName LIKE "%"#{bean.authorName,jdbcType = VARCHAR}"%"
            </if>
        </where>
    </select>

    <insert id="addDocContent">
    INSERT INTO tkb_doc_content (docId, content, orderNum,ispub)
    VALUES
        (#{docId,jdbcType = BIGINT}, #{content,jdbcType = VARCHAR},#{orderNum ,jdbcType = INTEGER},#{ispub,jdbcType = INTEGER})
    </insert>

    <select id="queryContentById" resultType="xyz.uben._4cface.domain.model.BaseDocContent">
        SELECT
            *
        FROM
            tkb_doc_content
        WHERE
            docId = #{docId , jdbcType = BIGINT}
        ORDER BY orderNum ASC
    </select>
    <delete id="deleteContentById">
        DELETE
        FROM
            tkb_doc_content
        WHERE
            docId = #{docId,jdbcType = BIGINT}
    </delete>
    <insert id="addDocOrg">
    INSERT INTO tkb_doc_org (docId, orgLevelCode,orgId)
    VALUES
        (#{docId , jdbcType = BIGINT}, #{orgLevelCode , jdbcType = VARCHAR},#{orgId , jdbcType = BIGINT})
    </insert>
    <delete id="deleteDocOrg">
    DELETE
    FROM
        tkb_doc_org
    WHERE
        docId = #{docId , jdbcType = BIGINT}
    </delete>
    <select id="queryVague" resultMap="BaseResultMap">
        select * FROM tkb_doc
        <where>
            <if test="title != null and title != ''">
                title LIKE '%'#{title,jdbcType = VARCHAR}'%'
            </if>
            and status = 2
        </where>
    </select>

    <update id="updateDocOrgbyLevelCode">
    UPDATE tkb_doc_org
    SET orgLevelCode = #{levelCode , jdbcType = VARCHAR}
    WHERE
        orgId = #{orgId , jdbcType = BIGINT}
    </update>

    <delete id="deleteDocOrgByLevelCode">
    DELETE
    FROM
        tkb_doc_org
    WHERE
        orgLevelCode LIKE #{levelCode , jdbcType = VARCHAR}"%"
    </delete>

    <select id="queryAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        tkb_doc
        <where>
            status = 2
        </where>
    </select>
</mapper>