<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.toolInformation.ToolInformationMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.TooInlformation">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="toolName" property="toolName" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="BIGINT"/>
        <result column="price" property="price" jdbcType="VARCHAR"/>
        <result column="code" property="code" jdbcType="BIGINT"/>
        <result column="time" property="time" jdbcType="TIMESTAMP"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="warName" property="warName" jdbcType="VARCHAR"/>
        <result column="manufactor" property="manufactor" jdbcType="VARCHAR"/>
        <result column="docId" property="docId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">

    </sql>
    <delete id="delete"/>
    <delete id="deleteWarehouse">
         delete from tkb_toolwarehouse_toolinformation where infoId = #{infoId,jdbcType=DECIMAL}
    </delete>

    <insert id="insert"/>
    <insert id="insertWarehouse">
        insert into tkb_toolwarehouse_toolinformation (infoId,warehouseId) values(#{infoId,jdbcType=DECIMAL},#{warehouseId,jdbcType=DECIMAL})
    </insert>

    <update id="update"/>

    <select id="select" resultMap="BaseResultMap"/>

    <select id="queryByPage" resultMap="BaseResultMap">
        select * from tkb_toolinformation
        <where>
            <if test="bean.key != null and bean.key != ''">
                toolName LIKE "%"#{bean.key,jdbcType = VARCHAR}"%"
            </if>
            <if test="bean.docId != null and bean.docId != ''">
                docId = #{bean.docId,jdbcType = BIGINT}
            </if>
        </where>
    </select>
    <select id="queryAll" resultMap="BaseResultMap">
         select * from tkb_toolinformation
    </select>
    <select id="queryWarehouse" resultType="Long">
        select warehouseId from tkb_toolwarehouse_toolinformation where infoId = #{infoId,jdbcType=DECIMAL}
    </select>
    <select id="queryByDoc" resultMap="BaseResultMap">
       SELECT
        *
        FROM
            tkb_toolinformation
        WHERE
            docId = #{docId,jdbcType = BIGINT}
    </select>
</mapper>