<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.member.MemberMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.Member">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="birthDay" property="birthDay" jdbcType="DATE"/>
        <result column="point" property="point" jdbcType="DECIMAL"/>
        <result column="grade" property="grade" jdbcType="DECIMAL"/>
        <result column="referee" property="referee" jdbcType="VARCHAR"/>
        <result column="refereeId" property="refereeId" jdbcType="DECIMAL"/>
    </resultMap>

    <sql id="Base_Column_List">

    </sql>

    <delete id="delete"/>

    <insert id="insert" useGeneratedKeys="true" keyProperty="mid"/>

    <update id="update"/>

    <select id="select" resultMap="BaseResultMap"/>

    <select id="queryByPage" parameterType="xyz.uben._4cface.domain.model.Member" resultMap="BaseResultMap">
        SELECT * FROM member
        <where>
            <if test="name != null and name != ''">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null and mobile !=''">
                and mobile = #{mobile,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>