<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>井下作业修井工具数据库系统</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
</head>
<body>
<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
<div class="page-group">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page" id="page">
        <header class="bar bar-nav">
            <h1 class='title'>{{category.categoryName}}</h1>
        </header>
        <div class="bar bar-header-secondary">
            <div class="searchbar">
                <a class="searchbar-cancel">取消</a>
                <div class="search-input">
                    <label class="icon icon-search" for="search"></label>
                    <input type="search" id='search' placeholder='输入关键字...' v-model="question"/>
                </div>
            </div>
        </div>
        <!-- 页面内容区 -->
        <div class="content infinite-scroll infinite-scroll-bottom" @infinite="more" data-distance="100">
            <div class="content-block" v-show="noAnswer"><p>{{tips}}</p></div>
            <div class="list-block media-list">
                <ul>
                    <li v-for="answer in answers">
                        <a @click="showDoc(answer)" class="item-link item-content">
                            <div class="item-media"><img :src="answer.docpic" style='width: 4rem;'></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">{{answer.title}}</div>
                                    <!--<div class="item-after">17:14</div>-->
                                </div>
                                <div class="item-text">{{answer.summary}}...</div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <!-- 加载提示符 -->
            <div class="infinite-scroll-preloader" v-show="loading">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>

<!-- popup, panel 等放在这里 -->
<div class="panel-overlay"></div>


<script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='js/lib/vue.min.js' charset='utf-8'></script>
<script type='text/javascript' src="js/lib/lodash.min.js"></script>
<script>
    $(function () {
        var vm = pageVM;
        var url = decodeURI(window.location.href);
        var search = url.indexOf("?") != -1 ? url.split("?")[1] : undefined;
        if (search) {
            var params = {};
            search.split("&").forEach(function (it) {
                params[it.split("=")[0]] = it.split("=")[1];
            });
            vm.$set(vm.category, "categoryName", params.category);
            vm.$set(vm.category, "levelCode", params.levelCode);
        }
        $.ajax({
            url: '../search/grid',
            data: {category: vm.category.levelCode, currentPage: vm.page.currentPage, pageSize: vm.page.pageSize},
            timeout: 3000,
            dataType: "json",
            success: function (response) {
                if (response) {
                    vm.answers = response.rows;
                }
                $.init();
            },
            error: function (xhr, type) {
                $.init();
            }
        })
    });
    var pageVM = new Vue({
        el: '#page',
        data: {
            tips: "",
            question: '',
            page: {currentPage: 1, pageSize: 10},
            answers: [],
            category: {categoryName: "", levelCode: ""},
            // 加载flag
            loading: false
        },
        computed: {
            // 一个计算属性的 getter
            noAnswer: function () {
                return this.answers.length == 0;
            }
        },
        watch: {
            // whenever question changes, this function will run
            question: function (newQuestion) {
                this.answers = [];
                this.tips = '等待输入结束...';
                this.getAnswer();
            }
        },
        methods: {
            getAnswer: _.debounce(
                    function () {
                        var vm = this;
                        vm.tips = '搜索中...';
                        $.ajax({
                            type: 'GET',
                            url: '../search/grid',
                            data: {
                                key: vm.question,
                                category: vm.category.levelCode,
                                currentPage: vm.page.currentPage,
                                pageSize: vm.page.pageSize
                            },
                            timeout: 3000,
                            success: function (response) {
                                if (response && response.total > 0) {
                                    for (var i = 0; i < response.rows.length; i++) {
                                        vm.answers.push(response.rows[i]);
                                    }
                                } else {
                                    vm.tips = '未搜索到任何信息,请换个关键字搜索,多个关键字之间通过空格分割';
                                }
                            },
                            error: function (xhr, type) {
                                $.toast("出错了,请稍候再试", 2000);
                            }
                        })
                    },
                    1000
            ),
            more: function () {
                // 如果正在加载，则退出
                if (this.loading) return;
                // 设置flag
                this.loading = true;
                var vm = this;
                vm.page.currentPage++;
                $.ajax({
                    type: 'GET',
                    url: '../search/grid',
                    data: {
                        key: vm.question,
                        category: vm.category.levelCode,
                        currentPage: vm.page.currentPage,
                        pageSize: vm.page.pageSize
                    },
                    timeout: 3000,
                    dataType: "json",
                    success: function (response) {
                        vm.loading = false;
                        if (response && response.total > 0) {
                            for (var i = 0; i < response.rows.length; i++) {
                                vm.answers.push(response.rows[i]);
                            }
                            //容器发生改变,如果是js滚动，需要刷新滚动
                            $.refreshScroller();
                        } else {
                            $.toast("已加载到最后", 2000);
                            // 加载完毕，则注销无限加载事件，以防不必要的加载
                            $.detachInfiniteScroll($('.infinite-scroll'));
                            // 删除加载提示符
                            $('.infinite-scroll-preloader').remove();
                            return;
                        }
                    },
                    error: function (xhr, type) {
                        vm.loading = false;
                        $.toast("出错了,请稍候再试", 2000);
                    }
                });
            },
            showDoc: function (docItem) {
                window.location.href = "docItem.html?" + docItem.mid;
            }
        }
    });


</script>

</body>
</html>