<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.uben._4cface.infra.persistent.doctemplate.DocTemplateMapper">
    <resultMap id="BaseResultMap" type="xyz.uben._4cface.domain.model.DocTemplate">
        <id column="mid" property="mid" jdbcType="BIGINT"/>
        <result column="templateName" property="templateName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="LONGVARCHAR"/>
        <result column="createTime" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="createUserId" property="createUserId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        mid, templateName,content,description,createTime,createUserid
    </sql>

    <select id="select" resultMap="BaseResultMap"/>

    <delete id="delete"/>

    <insert id="insert"/>

    <update id="update"/>

    <select id="queryIdByCategory" resultType="java.lang.Long">
        SELECT
        templateId
        FROM
        tkb_category_template
        <where>
            <if test="categoryId != null and categoryId != ''">
                categoryId = #{categoryId,jdbcType = BIGINT}
            </if>
        </where>
    </select>

    <select id="queryByPage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"></include>
        FROM
        tkb_template
        <where>
            <if test="bean.templateids != null and bean.templateids.size() > 0">
                mid IN
                <foreach collection="bean.templateids" index="index" item="it" open="(" separator="," close=")">
                    #{it,jdbcType=DECIMAL}
                </foreach>
            </if>
        </where>
    </select>

    <insert id="addCategTemplate">
      INSERT INTO tkb_category_template (categoryId, templateId)
      VALUES
      (#{categoryId,jdbcType=BIGINT},#{templateId,jdbcType=BIGINT})
    </insert>

    <select id="queryCategoryById" resultType="java.lang.Long">
        SELECT
            categoryId
        FROM
            tkb_category_template
        WHERE
            templateId = #{mid,jdbcType = BIGINT}
    </select>

    <delete id="deleteCategoryTempBymid">
        DELETE
        FROM
            tkb_category_template
        WHERE
            templateId = #{mid , jdbcType = BIGINT}
    </delete>

    <delete id="deleteCategoryTempByCategoryId">
        DELETE
        FROM
            tkb_category_template
        WHERE
            categoryId = #{categoryId,jdbcType = BIGINT}
    </delete>

    <insert id="addTemplateContent">
        INSERT INTO  tkb_template_content(templateId,orderNum,ispub,content)
      VALUES
      (#{templateId,jdbcType=BIGINT},#{orderNum,jdbcType=BIGINT},#{ispub,jdbcType=BIGINT},#{templateContent,jdbcType=LONGVARCHAR})
    </insert>

    <delete id="deleteTemplateContent">
       DELETE
        FROM
          tkb_template_content
        WHERE
            templateId = #{templateId,jdbcType = BIGINT}
    </delete>

    <select id="queryContentById" resultType="xyz.uben._4cface.domain.model.BaseDocContent">
        SELECT
            *
        FROM
            tkb_template_content
        WHERE
            templateId = #{templateId , jdbcType = BIGINT}
        ORDER BY orderNum ASC
    </select>
</mapper>